In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [29]:
# Which company is the most common video game publisher?
most_common_publisher = df['Publisher'].value_counts().index[0]
most_common_publisher

'Electronic Arts'

In [28]:
# Whatâ€™s the most common platform?
most_common_platform = df['Platform'].value_counts().index[0]
most_common_platform

'DS'

In [33]:
# What about the most common genre?
most_common_genre = df['Genre'].value_counts().index[0]
most_common_genre

'Action'

In [64]:
# What are the top 20 highest grossing games?

top_twenty_highest_grossing_games = df['Global_Sales'].head(20)
top_twenty_highest_grossing_games
#top_twenty_highest_grossing_games = top20['Name']
#df.loc[top20, 'Name']
#top_twenty_highest_grossing_games

0     82.74
1     40.24
2     35.82
3     33.00
4     31.37
5     30.26
6     30.01
7     29.02
8     28.62
9     28.31
10    24.76
11    23.42
12    23.10
13    22.72
14    22.00
15    21.82
16    21.40
17    20.81
18    20.61
19    20.22
Name: Global_Sales, dtype: float64

In [71]:
# For North American video game sales, whatâ€™s the median?
na_median_sales = df["NA_Sales"].median()
f'NA_Sales Median is: {na_median_sales}'

'NA_Sales Median is: 0.08'

In [74]:
#   - Provide a secondary output showing ten games surrounding the median sales output
#      - assume that games with same median value are sorted in descending order

median = df['NA_Sales'].median()
above_median = df['NA_Sales']==median
df.loc[above_median, ['Name', 'NA_Sales']].head(10)
ten_median_na_seller_names = df.loc[above_median, 'Name'].head(10)
ten_median_na_seller_names

446                                     Dragon Warrior IV
497           World Soccer Winning Eleven 7 International
1617                               Farming Simulator 2015
1926                            Pro Evolution Soccer 2008
2067    Winning Eleven: Pro Evolution Soccer 2007 (All...
2373                             Phantasy Star Portable 2
2579                                 The Sims 2: Castaway
3186                                       SingStar Queen
3503                                           Top Spin 3
3703                 Sonic & All-Stars Racing Transformed
Name: Name, dtype: object

In [10]:
# For the top-selling game of all time, 
df[['Name','NA_Sales']].head(1)

         Name  NA_Sales
0  Wii Sports     41.49

In [11]:
df['NA_Sales'].std().round(2)

0.82

In [12]:
df['NA_Sales'].mean().round(2)

0.26

In [13]:
# how many standard deviations above/below the mean are its sales for North America?
std_from_mean = (df['NA_Sales'].head(1) - df['NA_Sales'].mean()) / df['NA_Sales'].std()
std_from_mean.round(2)

0    50.48
Name: NA_Sales, dtype: float64

In [14]:
# The Nintendo Wii seems to have outdone itself with games. 
# How does its average number of sales compare with all of the other platforms?

df['Publisher'].value_counts().head(10)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [15]:
wii = df['Platform'] == 'Wii'
pub = df['Publisher'] == 'Nintendo'
nintendo_wii_gs = df.loc[pub & wii, ['Name', 'Global_Sales']]
nintendo_wii_gs

                                              Name  Global_Sales
0                                       Wii Sports         82.74
2                                   Mario Kart Wii         35.82
3                                Wii Sports Resort         33.00
7                                         Wii Play         29.02
8                        New Super Mario Bros. Wii         28.62
...                                            ...           ...
14376  Eyeshield 21: Field Saikyou no Senshi Tachi          0.03
14997                  Wii de Asobu: Metroid Prime          0.02
14999                  Wii de Asobu: Metroid Prime          0.02
15991                      Donkey Kong Jungle Beat          0.01
16473                              Captain Rainbow          0.01

[84 rows x 2 columns]

In [16]:
nintendo_wii_gs["Global_Sales"].mean().round(2)

4.65

In [17]:
df.groupby('Platform')['Global_Sales'].mean().round(2)

Platform
2600    0.73
3DO     0.03
3DS     0.49
DC      0.31
DS      0.38
GB      2.61
GBA     0.39
GC      0.36
GEN     1.05
GG      0.04
N64     0.69
NES     2.56
NG      0.12
PC      0.27
PCFX    0.03
PS      0.61
PS2     0.58
PS3     0.72
PS4     0.83
PSP     0.24
PSV     0.15
SAT     0.19
SCD     0.31
SNES    0.84
TG16    0.08
WS      0.24
Wii     0.70
WiiU    0.57
X360    0.77
XB      0.31
XOne    0.66
Name: Global_Sales, dtype: float64

In [18]:
# Come up with 3 more questions that can be answered with this data set.

# Best sports game in 2010

In [86]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0], [82.74])
    assert_equal(top_twenty_highest_grossing_games.iloc[19], [20.22])
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names.iloc[1], [['World Soccer Winning Eleven 7 International']])
    #,'World Soccer Winning Eleven 7 International','Farming Simulator 2015','Pro Evolution Soccer 2008','Winning Eleven: Pro Evolution Soccer 2007 (All...','Phantasy Star Portable 2','The Sims 2: Castaway','SingStar Queen','Top Spin 3','Sonic & All-Stars Racing Transformed'])

    print("Success!!!")

test()

AssertionError: Expected [['World Soccer Winning Eleven 7 International']] but got World Soccer Winning Eleven 7 International