In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./trip.csv')

In [3]:
# What is the average trip duration for a borrowed bicycle?

trip_duration = df['tripduration'].mean()
time = (trip_duration % 60)
f'Average trip duration is: {time.round(2)} minutes'

'Average trip duration is: 38.35 minutes'

In [4]:
# What’s the most common age of a bicycle-sharer?
year = df['birthyear'].value_counts().head(1)
age = df['birthyear'].mode()
most_common = 2020 - age
print('Most common age')
most_common.astype(int)

Most common age

0    33
dtype: int64

In [5]:
df2 = pd.read_csv('weather.csv')

In [6]:
# Given all the weather data here, find the average precipitation per month, 
# df2['Precipitation_In'].median()
df2 = pd.read_csv('weather.csv')
df2.Date = pd.to_datetime(df2.Date)
df2.set_index('Date', inplace=True)
monthly_precipitation = df2.resample('MS').sum()
total_days = df2.resample('MS').count()
avg_precipitation = monthly_precipitation/total_days
print('Average Precipitation Monthly')
avg_precipitation['Precipitation_In']

Average Precipitation Monthly

Date
2014-10-01    0.300526
2014-11-01    0.141667
2014-12-01    0.145161
2015-01-01    0.070645
2015-02-01    0.163214
2015-03-01    0.135161
2015-04-01    0.056667
2015-05-01    0.014194
2015-06-01    0.005667
2015-07-01    0.008710
2015-08-01    0.035484
2015-09-01    0.041000
2015-10-01    0.120645
2015-11-01    0.234000
2015-12-01    0.327419
2016-01-01    0.216452
2016-02-01    0.173448
2016-03-01    0.178710
2016-04-01    0.046000
2016-05-01    0.010645
2016-06-01    0.055333
2016-07-01    0.015484
2016-08-01    0.000968
Freq: MS, Name: Precipitation_In, dtype: float64

In [7]:
# and the median precipitation.
print('Median Precipitation')
avg_precipitation['Precipitation_In'].median().round(2)

Median Precipitation

0.07

In [8]:
df3 = pd.read_csv('station.csv')

In [9]:
# What’s the average number of bikes at a given bike station?
print('Avg number of bikes per station')
df3['current_dockcount'].mean().round(0).astype(int)

Avg number of bikes per station

17

In [10]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
df3['diff'] = df3['current_dockcount'] - df3['install_dockcount']
print('Inventory is likely to decrease after a station is modified')
f'The total inventory changed from {df3["install_dockcount"].sum()} to {df3["current_dockcount"].sum()}, so we have {df3["diff"].sum()} bikes now'

Inventory is likely to decrease after a station is modified

'The total inventory changed from 1020 to 958, so we have -62 bikes now'

In [11]:
# Come up with 3 more questions that can be answered with this data set.
# 1. List of stores that had a change in their inventory
inventory_change = df3['diff']!=0
inventory_up = df3['diff']>0
inventory_down = df3['diff']<0
df3.loc[inventory_change, ['name', 'install_dockcount', 'current_dockcount', 'diff']]

,name,install_dockcount,current_dockcount,diff
7,2nd Ave & Spring St,20,18,-2
10,12th Ave & E Yesler Way,16,0,-16
12,E Harrison St & Broadway Ave E,18,20,2
17,Cal Anderson Park / 11th Ave & Pine St,28,26,-2
19,Bellevue Ave & E Pine St,18,14,-4
22,Children's Hospital / Sandpoint Way NE & 40th ...,30,24,-6
23,Fred Hutchinson Cancer Research Center / Fairv...,12,16,4
26,Frye Art Museum / Terry Ave & Columbia St,16,0,-16
31,REI / Yale Ave N & John St,18,20,2
35,Westlake Ave & 6th Ave,12,20,8
37,Lake Union Park / Valley St & Boren Ave N,18,16,-2
38,Dexter Ave & Denny Way,20,0,-20
39,Key Arena / 1st Ave N & Harrison St,12,16,4
46,UW McCarty Hall / Whitman Ct,16,0,-16
47,Burke Museum / E Stevens Way NE & Memorial Way NE,12,14,2
48,15th Ave NE & NE 40th St,18,16,-2
49,UW Engineering Library / E Stevens Way NE & Je...,12,14,2
50,UW Intramural Activities Building,20,14,-6
52,Pier 69 / Alaskan Way & Clay St,18,24,6

In [12]:
# 2. 
f'''
    A total of {inventory_change.sum()} stores had a change in their inventory.
    {inventory_up.sum()} of those had an increase of bikes. 
    {inventory_down.sum()} of those had a decrease of bikes.
    '''

'\n    A total of 19 stores had a change in their inventory.\n    8 of those had an increase of bikes. \n    11 of those had a decrease of bikes.\n    '

In [13]:
#3. Avg stores that lost inventory after a modification
avg = (inventory_down.sum()/inventory_change.sum())*100
f'{avg.round(2)}% of the stores lost bikes after being modified'

'57.89% of the stores lost bikes after being modified'

In [14]:
#4 Number of Male bike renters
man = df['gender']== 'Male'
df.loc[man, 'gender'].count()

140564

In [15]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    
    # test number of stores that had a change in their inventory
    x = df3['diff']!=0
    assert_equal(x.sum(), 19)
    
    df = pd.read_csv('./trip.csv')
    man = df['gender']== 'Male'
    df.loc[man, 'gender'].count()
    assert_equal(df.loc[man, 'gender'].count(), 140564)
    
    # test avg number of bikes per store
    assert_equal(df3['current_dockcount'].mean().round(0).astype(int), 17)
    print("Success!!!")

test()

Success!!!