In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
# Which company is the most common video game publisher?
most_common_publisher = df['Publisher'].value_counts().index[0]
most_common_publisher

'Electronic Arts'

In [4]:
# What’s the most common platform?
most_common_platform = df['Platform'].value_counts().index[0]
most_common_platform

'DS'

In [5]:
# What about the most common genre?
most_common_genre = df['Genre'].value_counts().index[0]
most_common_genre

'Action'

In [6]:
# What are the top 20 highest grossing games?

top_twenty_highest_grossing_games = df['Global_Sales'].head(20)
top_twenty_highest_grossing_games
#top_twenty_highest_grossing_games = top20['Name']
#df.loc[top20, 'Name']
#top_twenty_highest_grossing_games

0     82.74
1     40.24
2     35.82
3     33.00
4     31.37
5     30.26
6     30.01
7     29.02
8     28.62
9     28.31
10    24.76
11    23.42
12    23.10
13    22.72
14    22.00
15    21.82
16    21.40
17    20.81
18    20.61
19    20.22
Name: Global_Sales, dtype: float64

In [7]:
# For North American video game sales, what’s the median?
na_median_sales = df["NA_Sales"].median()
f'NA_Sales Median is: {na_median_sales}'

'NA_Sales Median is: 0.08'

In [8]:
#   - Provide a secondary output showing ten games surrounding the median sales output
#      - assume that games with same median value are sorted in descending order

median = df['NA_Sales'].median()
above_median = df['NA_Sales']==median
df.loc[above_median, ['Name', 'NA_Sales']].head(10)
ten_median_na_seller_names = df.loc[above_median, 'Name'].head(10)
ten_median_na_seller_names

446                                     Dragon Warrior IV
497           World Soccer Winning Eleven 7 International
1617                               Farming Simulator 2015
1926                            Pro Evolution Soccer 2008
2067    Winning Eleven: Pro Evolution Soccer 2007 (All...
2373                             Phantasy Star Portable 2
2579                                 The Sims 2: Castaway
3186                                       SingStar Queen
3503                                           Top Spin 3
3703                 Sonic & All-Stars Racing Transformed
Name: Name, dtype: object

In [9]:
# For the top-selling game of all time, 
df[['Name','NA_Sales']].head(1)

         Name  NA_Sales
0  Wii Sports     41.49

In [10]:
df['NA_Sales'].std().round(2)

0.82

In [11]:
df['NA_Sales'].mean().round(2)

0.26

In [12]:
# how many standard deviations above/below the mean are its sales for North America?
std_from_mean = (df['NA_Sales'].head(1) - df['NA_Sales'].mean()) / df['NA_Sales'].std()
std_from_mean.round(2)

0    50.48
Name: NA_Sales, dtype: float64

In [13]:
# The Nintendo Wii seems to have outdone itself with games. 
# How does its average number of sales compare with all of the other platforms?

df['Publisher'].value_counts().head(10)

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
THQ                              715
Nintendo                         703
Sony Computer Entertainment      683
Sega                             639
Take-Two Interactive             413
Name: Publisher, dtype: int64

In [14]:
wii = df['Platform'] == 'Wii'
pub = df['Publisher'] == 'Nintendo'
nintendo_wii_gs = df.loc[pub & wii, ['Name', 'Global_Sales']]
nintendo_wii_gs

                                              Name  Global_Sales
0                                       Wii Sports         82.74
2                                   Mario Kart Wii         35.82
3                                Wii Sports Resort         33.00
7                                         Wii Play         29.02
8                        New Super Mario Bros. Wii         28.62
...                                            ...           ...
14376  Eyeshield 21: Field Saikyou no Senshi Tachi          0.03
14997                  Wii de Asobu: Metroid Prime          0.02
14999                  Wii de Asobu: Metroid Prime          0.02
15991                      Donkey Kong Jungle Beat          0.01
16473                              Captain Rainbow          0.01

[84 rows x 2 columns]

In [15]:
nintendo_wii_gs["Global_Sales"].mean().round(2)

4.65

In [16]:
df.groupby('Platform')['Global_Sales'].mean().round(2)

Platform
2600    0.73
3DO     0.03
3DS     0.49
DC      0.31
DS      0.38
GB      2.61
GBA     0.39
GC      0.36
GEN     1.05
GG      0.04
N64     0.69
NES     2.56
NG      0.12
PC      0.27
PCFX    0.03
PS      0.61
PS2     0.58
PS3     0.72
PS4     0.83
PSP     0.24
PSV     0.15
SAT     0.19
SCD     0.31
SNES    0.84
TG16    0.08
WS      0.24
Wii     0.70
WiiU    0.57
X360    0.77
XB      0.31
XOne    0.66
Name: Global_Sales, dtype: float64

In [17]:
# Come up with 3 more questions that can be answered with this data set.

# sports games in 2000
sports = df['Genre'] == 'Sports'
year = df['Year'] == 2000
df.loc[sports & year, 'Name']

225                           Tony Hawk's Pro Skater 2
683                                       Mario Tennis
778                             Tony Hawk's Pro Skater
1085                                   Madden NFL 2001
1100                                               SSX
                             ...
12708                                      G1 Jockey 2
12814    Jikkyou Powerful Pro Yakyuu DreamCast Edition
13201                 Power Spike Pro Beach Volleyball
13708                             NBA in the Zone 2000
16579                                PGA European Tour
Name: Name, Length: 81, dtype: object

In [18]:
df.groupby('Genre')['Year'].count().sort_values(ascending=False)

Genre
Action          3253
Sports          2304
Misc            1710
Role-Playing    1471
Shooter         1282
Adventure       1276
Racing          1226
Platform         876
Simulation       851
Fighting         836
Strategy         671
Puzzle           571
Name: Year, dtype: int64

In [19]:
global_mean = df['Global_Sales'].mean().round(2)
global_mean

0.54

In [20]:
# EU Sales above mean
above_mean = df['EU_Sales'] > global_mean
df.loc[above_mean, ['Name', 'EU_Sales']].head(10)

                        Name  EU_Sales
0                 Wii Sports     29.02
1          Super Mario Bros.      3.58
2             Mario Kart Wii     12.88
3          Wii Sports Resort     11.01
4   Pokemon Red/Pokemon Blue      8.89
5                     Tetris      2.26
6      New Super Mario Bros.      9.23
7                   Wii Play      9.20
8  New Super Mario Bros. Wii      7.06
9                  Duck Hunt      0.63

In [21]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0], [82.74])
    assert_equal(top_twenty_highest_grossing_games.iloc[19], [20.22])
    assert_equal(na_median_sales, 0.08)
    #assert_equal(ten_median_na_seller_names.iloc[1], [['World Soccer Winning Eleven 7 International']])
    
    print("Success!!!")

test()

Success!!!