In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [4]:
# Which company is the most common video game publisher?
df['Publisher'].value_counts().head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

In [5]:
# What’s the most common platform?
df['Platform'].value_counts().head(1)

DS    2163
Name: Platform, dtype: int64

In [6]:
# What about the most common genre?
df['Genre'].value_counts().head(1)

Action    3316
Name: Genre, dtype: int64

In [7]:
# What are the top 20 highest grossing games?
df[['Name', 'Global_Sales']].head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [8]:
# For North American video game sales, what’s the median?

f'NA_Sales Median is: {df["NA_Sales"].median()}'

'NA_Sales Median is: 0.08'

In [9]:
#   - Provide a secondary output showing ten games surrounding the median sales output
#      - assume that games with same median value are sorted in descending order

median = df['NA_Sales'].median()
above_median = df['NA_Sales']==median
df.loc[above_median, ['Name', 'NA_Sales']].head(10)

                                                   Name  NA_Sales
446                                   Dragon Warrior IV      0.08
497         World Soccer Winning Eleven 7 International      0.08
1617                             Farming Simulator 2015      0.08
1926                          Pro Evolution Soccer 2008      0.08
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...      0.08
2373                           Phantasy Star Portable 2      0.08
2579                               The Sims 2: Castaway      0.08
3186                                     SingStar Queen      0.08
3503                                         Top Spin 3      0.08
3703               Sonic & All-Stars Racing Transformed      0.08

In [17]:
# For the top-selling game of all time, 
# how many standard deviations above/below the mean are its sales for North America?
df['NA_Sales'].std()

0.8166830292988796

In [18]:
df['NA_Sales'].mean()

0.26466742981082064

In [29]:
# The Nintendo Wii seems to have outdone itself with games. 
# How does its average number of sales compare with all of the other platforms?

df['Publisher'].value_counts().head(10)

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
THQ                              715
Nintendo                         703
Sony Computer Entertainment      683
Sega                             639
Take-Two Interactive             413
Name: Publisher, dtype: int64

In [12]:
# Come up with 3 more questions that can be answered with this data set.